html,
body {
  min-width: 290px;
  color: black;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 10px;
  left: 0px;
  width: 200px;
  height: 100%;
  border-right: solid;
  border-color: white;
  /* background: radial-gradient(crimson, skyblue); */
  background: linear-gradient(135deg, #ff0000, #ffffff, #0f0);
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: thick;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 100%;
  padding: 0;
}

#navbar li {
  color: black;
  border-top: 2px solid;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  /* background: radial-gradient(crimson, skyblue); */
  background: linear-gradient(135deg, #ff0000, #ffffff, #0f0);
  /* position: absolute; */
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  font-size: 20px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: end; */
}

section article {
  color: black;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}


 @media only screen and (max-width: 815px) {
 
  #navbar ul {
    border: px solid;
    height: 300px;
  }

   #navbar {
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 300px;
    border: none;
    border-bottom: 2px solid;
    position: 0;
    margin-left: -10px;
    /* margin:10px; */
  }

  #main-doc {
    /* position: relative; */
    padding: 10px;
    margin-left: 0px;
    margin-top: 0%;
  } 
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
} 



